# HTC's battery code directly writes to misc to store (debugging?) state
allow kernel misc_block_device:blk_file rw_file_perms;
# Reads rtg_3
allow kernel vfat:dir search;

allow kernel device:chr_file create;
allow kernel device:chr_file setattr;
allow kernel device:chr_file getattr;
allow kernel device:dir remove_name;
allow kernel device:chr_file unlink;
allow kernel device:dir rmdir;
allow kernel device:dir w_dir_perms;
allow kernel device:capability mknod;
allow kernel device:dir add_name;
